.creature-detail {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.creature-detail-container {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "card information";
}

.creature-detail-card {
    grid-area: card;
}

.creature-detail-card, .creature-detail-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.creature-detail-information {
    grid-area: information;
    font-size: 1.2rem;

    display: grid;
    grid-template-columns: 0.4fr 3fr;
    grid-template-areas:
        "name name-input"
        "rarity rarity-input";
    
}

.creature-detail-name, .creature-detail-rarity{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

.creature-detail-name-input, .creature-detail-rarity-input{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.creature-detail-name, .creature-detail-name-input {
    justify-content: flex-end;
}

.creature-detail-rarity, .creature-detail-rarity-input {
    justify-content: flex-start;
}

.creature-detail-description, .creature-detail-description-input {
    font-size: 1.2rem;
}

.creature-detail-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
    font-weight: 600;
}

.creature-detail-description-input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-left: 3px solid var(--blue-primary);
    padding-left: 8px;
    color: black;
}

.creature-detail-back-button, .creature-detail-edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--blue-primary);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
}

.creature-detail-back-button a, .creature-detail-edit-button a {
    text-decoration: none;
    background-color: var(--blue-fourth);
    color: var(--blue-primary);
    border: 2px solid var(--blue-primary);
    border-radius: 5px;
    padding: 0 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.creature-detail-back-button a:hover, .creature-detail-edit-button a:hover {
    background-color: var(--blue-tertiary);
    color: var(--blue-primary);
    transition: all 0.3s ease-in-out;
}

.creature-detail-back-button a:active, .creature-detail-edit-button a:active {
    background-color: var(--blue-secondary);
    color: var(--white-secondary);
}